<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.18.5" targetFramework="net45" />
  <package id="AutoMapper" version="3.3.0-ci1008" targetFramework="net45" />
  <package id="FakeItEasy" version="1.21.0" targetFramework="net45" />
  <package id="FluentAssertions" version="3.0.107" targetFramework="net45" />
  <package id="SpecK" version="0.0.1-Pre00724" targetFramework="net45" />
  <package id="SpecK.AutoFixture" version="0.0.1-Pre00724" targetFramework="net45" />
  <package id="SpecK.FakeItEasy" version="0.0.1-Pre00724" targetFramework="net45" />
  <package id="SpecK.FluentAssertions" version="0.0.1-Pre00724" targetFramework="net45" />
</packages>