<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.24.3" targetFramework="net45" />
  <package id="FakeItEasy" version="2.0.0-beta007" targetFramework="net45" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net45" />
  <package id="Fody" version="1.28.1" targetFramework="net45" developmentDependency="true" />
  <package id="NullGuard.Fody.RubiconFork" version="1.0.0.63" targetFramework="net45" developmentDependency="true" />
  <package id="SpecK" version="0.0.1-Pre00724" targetFramework="net45" />
  <package id="SpecK.AutoFixture" version="0.0.1-Pre00724" targetFramework="net45" />
  <package id="SpecK.FakeItEasy" version="0.0.1-Pre00724" targetFramework="net45" />
  <package id="SpecK.FluentAssertions" version="0.0.1-Pre00724" targetFramework="net45" />
</packages>