<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.21.0" targetFramework="net45" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net45" />
  <package id="Fody" version="1.28.1" targetFramework="net45" developmentDependency="true" />
  <package id="NullGuard.Fody.RubiconFork" version="1.0.0.63" targetFramework="net45" developmentDependency="true" />
  <package id="Remotion.JetBrains.Annotations.Sources" version="1.15.23.0" targetFramework="net45" developmentDependency="true" />
  <package id="TestFx.Core" version="0.0.1-Pre00159" targetFramework="net45" />
  <package id="TestFx.FakeItEasy" version="0.0.1-Pre00159" targetFramework="net45" />
  <package id="TestFx.Specifications" version="0.0.1-Pre00159" targetFramework="net45" />
</packages>