<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Matkoch TestFx" value="https://www.myget.org/F/matkoch/api/v2" />
    <add key="Ulrichb Nullguard" value="https://www.myget.org/F/ulrichb/api/v2" />
    <add key="Remotion Utilities" value="https://www.myget.org/F/re-motion-infrastructure/" />
  </packageSources>
</configuration>