<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Autofac" version="3.3.0" targetFramework="net45" />
  <package id="AutoFixture" version="3.18.5" targetFramework="net45" />
  <package id="AutoMapper" version="3.1.1" targetFramework="net45" />
  <package id="CsvHelper" version="2.4.1" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net45" />
  <package id="FakeItEasy" version="1.20.0" targetFramework="net45" />
  <package id="FluentAssertions" version="3.0.107" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.6.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="netfx-System.Dynamic.Reflection" version="1.1.1.0" targetFramework="net45" />
  <package id="NEventStore" version="5.0.0.100" targetFramework="net45" />
  <package id="SpecK" version="0.0.1-Pre00705" targetFramework="net45" />
  <package id="SpecK.AutoFixture" version="0.0.1-Pre00705" targetFramework="net45" />
  <package id="SpecK.FakeItEasy" version="0.0.1-Pre00705" targetFramework="net45" />
  <package id="SpecK.FluentAssertions" version="0.0.1-Pre00705" targetFramework="net45" />
</packages>